<div class="container-fluid contenedor fixed-top p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
            <div class="container-fluid">
              <img class="Logo" src="./assets/LogoTop.jpg" alt="Logo1">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav listado me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink='inicio'>Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " routerLink='pedidos' >Pedidos</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Productos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink='nuevos' >Nuevos Productos</a></li>
                      <li><a class="dropdown-item" routerLink='hamburguesa' >Hamburguesas</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">. . . Otros . . .</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="¿Que deseas?" aria-label="Search">
                  <button class="btn btn-outline-light" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </nav>
</div>
