<div class="container-fluid Lista bg-dark" >
<div class="row justify-content-around">
    <div class="col-md-1 col-sm-1">
    <li class="items-llamada"> 
      <i class="fas fa-phone-square-alt"></i>
      <a href="tel:2644839711">Llamada</a>
    </li>
  </div>
  <div class="col-md-1 col-sm-1">
    <li class="items-mail">
      <i class="far fa-envelope"></i>
      <a href="mailto:luciaradicetti@gmail.com">Mail</a>
    </li>
  </div>
  <div class=" col-md-1 col-sm-1">
    <li class="items-whatsapp">
      <i class="fab fa-whatsapp"></i>
      <a href="https://wa.me/2644839711">Whatsapp</a>
    </li>
  </div>
</div>