.Lista{
    height: 100px;
    padding-top: 25px;
}
.items-llamada {
    display: inline-block;
    font-size: 20px;
    color: white;
    background-color:rgb(11, 130, 228);
    border-radius: 6px;
    padding: 10px 20px;
    font-family: 'Rampart One', cursive;
  }
  .items-llamada a{
    text-decoration: none;
    color: white;
  }
  .items-llamada i{
    margin: 0px 0px;
  }
  .items-mail {
    display: inline-block;
    font-size: 20px;
    color: white;
    background-color:rgb(193, 20, 14);
    border-radius: 6px;
    padding: 10px 20px;
    font-family: 'Rampart One', cursive;
  }
  .items-mail a{
    text-decoration: none;
    color: white;

  }
  .items-mail i{
    margin: 0px 0px;
  }

  .items-whatsapp {
    display: inline-block;
    font-size: 20px;
    color: white;
    background-color:rgb(14, 193, 67);
    border-radius: 6px;
    padding: 10px 20px;
    font-family: 'Rampart One', cursive;
  }
  .items-whatsapp a{
    text-decoration: none;
    color: white;

  }
  .items-whatsapp i{
    margin: 0px 0px;
  }