<section class="container-fluid contenedor bg-secondary p-5">
    <div class="row contenedor justify-content-around ">
  
    <div class=" col-3 card bg-dark  " style="width: 25rem;">
      <img src="./assets/ExtraCheddar.jpg" class="card-img-top" alt="cheddar">
      <div class="card-body">
        <h5 class="card-title text-light">Extra Cheddar</h5>
        <p class="card-text text-light">Ingedientes: Pan, Carne, Huevo, Queso, Tomate, Baño de cheddar y Panceta.</p>
        <a href="#" class="btn btn-light">¡Pedir!</a>
      </div>
    </div>
    <div class="col-3 card bg-dark " style="width: 25rem;">
      <img src="./assets/triple.jpg" class="card-img-top" alt="triple">
      <div class="card-body">
        <h5 class="card-title text-light">Triple Carne</h5>
        <p class="card-text text-light">Ingedientes: Pan, Lechuga, Tomate, Huevo, Queso, Panceta, Triple Carne.</p>
        <a href="#" class="btn btn-light">¡Pedir!</a>
      </div>
    </div>
    <div class="col-3 card bg-dark" style="width: 25rem;">
      <img src="./assets/veggie.jpg" class="card-img-top" alt="veggie">
      <div class="card-body">
        <h5 class="card-title text-light">Veggie</h5>
        <p class="card-text text-light">Ingedientes: Pan, Lechuga, Tomate, cebolla, Medallon de Soja.</p>
        <a href="#" class="btn btn-light">¡Pedir!</a>
      </div>
    </div>
  </div>
  </section>
