.contenedor{
    padding-top: 100px;
    padding-bottom: 70px;
}
.card{
    padding: 30px;
}
.card-img-top{
    object-fit: cover;
    height: 450px;
}
.card-body{
    text-align: center;
}
.card-title{
    font-family: 'Rampart One', cursive;
}
.card-text{
    font-family: 'Special Elite', cursive;
}