<section class="container-fluid formulario bg-secondary text-light">
    <form class="row g-3 texto">
      <div class="col-6 item">
        <input type="text" class="form-control " placeholder="Ingrese su nombre" aria-label="Nombre">
      </div>
      <div class="col-6 item">
        <input type="text" class="form-control " placeholder="Ingrese su apellido" aria-label="Apellido">
    </div>
      <div class="col-12 item">
        <label for="inputAddress" class="form-label">Direccion:</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Ingrese su direccion">
      </div>
      <div class="col-md-6 item">
        <label for="inputCity" class="form-label">Ciudad</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-6 item">
        <label for="inputState" class="form-label">Departamento</label>
        <select id="inputState" class="form-select">
          <option selected>...</option>
          <option >Capital</option>
          <option >Rawson</option>
          <option >Pocito</option>
          <option >Rivadavia</option>
        </select>
      </div>
      <div class="col-12 item">
      <div class="form-check form-check-inline ">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Pizza</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Lomo</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
        <label class="form-check-label" for="inlineCheckbox3">Helado</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
        <label class="form-check-label" for="inlineCheckbox3">Bebidas</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
        <label class="form-check-label" for="inlineCheckbox3">Ensaladas</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
        <label class="form-check-label" for="inlineCheckbox3">Hamburguesas</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
        <label class="form-check-label" for="inlineCheckbox3">Postres</label>
      </div>
    </div>
    <div class="mb-3 observa">
      <label for="exampleFormControlTextarea1" class="form-label ">Observacion de su pedido:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="col-12 pedir">
      <button type="submit" class="btn btn-outline-light btn-lg">¡Pedir!</button>
    </div>
    </form>
</section>
