.formulario{
    height: 57vh;
    text-align: center;
    font-size: 20px;
    padding-top: 150px;
    padding-bottom: 730px;
}
.texto{
    padding-top: 20px;
}
.item{
    padding-top: 30px;
}
.observa{
    width: 1500px;
    padding-left: 500px;
    padding-top: 30px;
}
.pedir{
    padding-top: 50px;
}