.carrusel{
    height: 50vh;
    padding-top: 200px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 380px;
    margin-top: 70px;
}

.imagen-carousel {
    height: 90vh;
    object-fit: cover;
}
.carousel-control-prev {
    opacity: 0.0;
}
.carousel-control-next{
    opacity:0.0 ;
}