<section class="container-fluid carrusel p-0 ">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/papas_fritas.jpg" class="d-block w-100 imagen-carousel" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/pizza.jpeg" class="d-block w-100 imagen-carousel" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/postres.jpg" class="d-block w-100 imagen-carousel" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/Lomo.jpg" class="d-block w-100 imagen-carousel" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon " aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
  </div>
  </section>
